@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat';
} 